
.user-chat-main{
    margin: 30px 23px;
    display: flex;
    justify-content: flex-start;
   
    overflow: scroll;
    
}

.user-chat-link{
    text-decoration: none;
}
.user-chat-main img{
    border-radius: 13px;
    margin-right: 9px;
}

.user-chat-main-text{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
}

.user-chat-main-number{
    margin-top: 7px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    left: 87%;
    
    
}


.user-chat-main-text span:first-child{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.863);
}

.user-chat-main-text span:last-child{
    font-size: 12px;
    color: grey;
    margin: 3px 0px;
}

.user-chat-main-number span:first-child{
    font-size: 10px;
    color: grey;
}

