

.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 180, 215);
    padding: 10px 40px;
    border-top: 0.5px solid rgba(63, 63, 63, 0.11);
    
}
.nav__list{
    display: flex;
    justify-content: space-between;
    padding: 5px 3px;
    position: relative;
    
    
   
}

a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}

.nav__btn > span {
    background-color: rgb(230, 80, 43);
    color: whitesmoke;
    display: block;
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: 3px;
    border-radius: 12px;
    position: absolute;
    top:8%;
    left:34.8%;
    font-weight: bolder;
    padding-top: 1.2px;

}

.nav__btn > div{
    background-color: rgb(230, 80, 43);
    width: 4px;
    height: 4px;
    border-radius: 1.5px;
    position: absolute;
    top:15%;
    left:98.5%;
}