body{
    background-color: rgb(255, 240, 249);

    position: relative;
    height: 100vh;
}

.fa-chevron-left{
    margin-right: 75px;
}

.date{
    display: flex;
    justify-content: center;
    background-color: rgba(220, 220, 220, 0.397);
    padding: 5px 2px;
    color: gray;
    font-size: 12px;

}

.talk-main{
    display: flex;
    margin: 30px 10px;
    position: relative;
}

.talk-main img{
    border-radius: 30%;
}

.talk-main div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.talk-main div span:first-child{
    font-size: smaller;
    opacity: 0.7;
    margin-bottom: 3px;
  

}
.innertext{
    padding: 10px;
    border-radius: 20px;
}
.innertext-time{
    position: absolute;
    top: 70%;
    right: 1%;

}
.talk-main div span:nth-child(2){
    display: block;
    background-color:rgba(255, 255, 255, 0.801);
    font-size: 13px;
    
}

.talk-main div span:last-child{
    font-size: 10px;
}

.keyboard{
    
    position: absolute;
    position: fixed;
 
    top: 94%;
   
    padding: 10px;
    background-color: rgba(151, 40, 155, 0.397);
    color: rgba(255, 255, 255, 0.541);
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.keyboard span:first-child{
    font-size: x-large;
}
.keyboard span:last-child{
    border: 2px solid rgba(231, 231, 231, 0.493);
    padding: 2px 20px;
    border-radius: 10px;
    margin-right: 10px;
}
